<%- include('../Includes/header.ejs') %>
    <title>
        <%=title %>
    </title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    </head>

    <body>
        <%- include('../Includes/navigation.ejs') %>
            <div class=det_design>
                <div class="card text-center">
                    <div class="card-header">
                        Details
                    </div>
                    <div class="card-body mycard">
                        <h5 class="card-title">Item Title:
                            <%= itemdata. ItemNm%>,</h5>
                        <h6 class="card-title">Product Price:
                            <%= itemdata.ItemPrice%>,</h6>
                        <p class="card-text">Product Desc:
                            <%= itemdata.ItemDesc%>
                        </p>

                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </div>

            <%- include('../Includes/footer.ejs') %>